
<!doctype html>
<html lang="en" data-bs-theme="auto">
<head>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=family=Ubuntu:wght@700&display=swap" rel="stylesheet">

    <script src="js/color-modes.js"></script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Hugo 0.111.3">
    <meta http-equiv="Content-Security-Policy" content="default-src 'self' data: gap: https://ssl.gstatic.com 'unsafe-eval' 'unsafe-inline';">

    <title>GEMMA Looker</title>
    <link rel="canonical" href="https://getbootstrap.com/docs/5.3/examples/dashboard/">
    <link href="bootstrap/css/bootstrap.min.css" type="text/css" rel="stylesheet">

    <!-- Favicons -->
<!--    <link rel="apple-touch-icon" href="/docs/5.3/assets/img/favicons/apple-touch-icon.png" sizes="180x180">-->
<!--    <link rel="icon" href="/docs/5.3/assets/img/favicons/favicon-32x32.png" sizes="32x32" type="image/png">-->
<!--    <link rel="icon" href="/docs/5.3/assets/img/favicons/favicon-16x16.png" sizes="16x16" type="image/png">-->
<!--    <link rel="manifest" href="/docs/5.3/assets/img/favicons/manifest.json">-->
<!--    <link rel="mask-icon" href="/docs/5.3/assets/img/favicons/safari-pinned-tab.svg" color="#712cf9">-->
<!--    <link rel="icon" href="/docs/5.3/assets/img/favicons/favicon.ico">-->
    <meta name="theme-color" content="#712cf9">
    <link rel="stylesheet" type="text/css" href="css/style.css">

    <!-- Custom styles for this template -->
    <link href="css/dashboard.css" type="text/css" rel="stylesheet">
</head>
<body class="bg-body-tertiary">

<div class="dropdown position-fixed bottom-0 end-0 mb-3 me-3 bd-mode-toggle">
    <button class="btn btn-bd-primary py-2 dropdown-toggle d-flex align-items-center"
            id="bd-theme"
            type="button"
            aria-expanded="false"
            data-bs-toggle="dropdown"
            aria-label="Toggle theme (auto)">
        <svg class="bi my-1 theme-icon-active" width="1em" height="1em"><use href="#circle-half"></use></svg>
        <span class="visually-hidden" id="bd-theme-text">Toggle theme</span>
    </button>
    <ul class="dropdown-menu dropdown-menu-end shadow" aria-labelledby="bd-theme-text">
        <li>
            <button type="button" class="dropdown-item d-flex align-items-center" data-bs-theme-value="light" aria-pressed="false">
                <svg class="bi me-2 opacity-50 theme-icon" width="1em" height="1em"><use href="#sun-fill"></use></svg>
                Light
                <svg class="bi ms-auto d-none" width="1em" height="1em"><use href="#check2"></use></svg>
            </button>
        </li>
        <li>
            <button type="button" class="dropdown-item d-flex align-items-center" data-bs-theme-value="dark" aria-pressed="false">
                <svg class="bi me-2 opacity-50 theme-icon" width="1em" height="1em"><use href="#moon-stars-fill"></use></svg>
                Dark
                <svg class="bi ms-auto d-none" width="1em" height="1em"><use href="#check2"></use></svg>
            </button>
        </li>
        <li>
            <button type="button" class="dropdown-item d-flex align-items-center active" data-bs-theme-value="auto" aria-pressed="true">
                <svg class="bi me-2 opacity-50 theme-icon" width="1em" height="1em"><use href="#circle-half"></use></svg>
                Auto
                <svg class="bi ms-auto d-none" width="1em" height="1em"><use href="#check2"></use></svg>
            </button>
        </li>
    </ul>
</div>


<header class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
    <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3 fs-6" href="#">GEMMA Looker</a>
    <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-nav">
        <div class="nav-item text-nowrap">
<!--            <a class="nav-link px-3" href="#">Sign out</a>-->
        </div>
    </div>
</header>

<div class="container-fluid">
    <div class="row">
        <nav id="sidebarMenu" class="col-md-3 col-lg-3 d-md-block bg-body-tertiary sidebar collapse">
            <div class="position-sticky pt-3 sidebar-sticky">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">
                            <span data-feather="home" class="align-text-bottom"></span>
                            Dashboard
                        </a>
                    </li>
                </ul>

                <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-body-secondary text-uppercase">
                  <span>Table list</span>
                </h6>
                <ul class="nav flex-column mb-2">
                    <%- include('wholedb'); %>
                </ul>
            </div>
        </nav>

        <main class="col-md-9 ms-sm-auto col-lg-9 px-md-4">
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                <h1 class="h2">Dashboard</h1>
                <div class="btn-toolbar mb-2 mb-md-0">
                    <div class="btn-group me-2">
                        <input type="file" id="importFile" name="gemmaDB" style="display:none">
                        <button type="button" class="btn btn-sm btn-outline-secondary" onclick="invokeFilePicker()">Import DB</button>
                    </div>
                </div>
            </div>

            <h2><%= mineName.name %></h2>
            <h8>Mine ID: <%= mineName.sitesID %></h8>
            <h5 id="tableName"><%= tableName %></h5>

            <div class="row">
                <div class="col">
                    <div id="dataContainer"></div>
                    <nav>
                        <ul class="pagination justify-content-center" id="GemmaPaginationContainer"></ul>
                    </nav>
                </div>
            </div>

            <div class="row">

                <div class="col">
                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                        Filter Column
                    </button>

                    <!-- Modal -->
                    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h1 class="modal-title fs-5" id="exampleModalLabel">Select To Filter Column Visible</h1>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <ul class="list-group" id="filterColumn">
                                        <%- include('tableColumnCheckbox'); %>
                                    </ul>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                    <button type="button" class="btn btn-primary" id="btn-column-checker" data-bs-dismiss="modal">Save changes</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <div class="row" style="margin-top: 20px">

                <div class="col">
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead class="table-light">
                            <tr id="tableColumn">
                                <%- include('tableColumn'); %>
                            </tr>
                            </thead>
                            <tbody id="tableData">
                                <%- include('table'); %>
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>

        </main>
    </div>
</div>

<script>
    function updatetable(tableName) {

        selectedColumns = [];

        const child = tableName.find('.gemma-table').attr('id');
        $('#tableName').text(child);

        fetch('/table/' + child,{
            method: 'get',
        }).then(response => response.json())
            .then(message => {

                const gemmaData = message[0];
                const gemmaDataColumn = message[1];
                const totalRecords = message[2];

                displayData();
                generatePagination(totalRecords.length);

                const tableColumn = $('#tableColumn');
                tableColumn.empty();

                $.each(gemmaDataColumn, function(index, item) {
                    const th = "<th scope='col'>"+item.name+"</th>";
                    tableColumn.append(th);
                })

                const table = $('#tableData');
                table.empty();

                // let kambing;

                $.each(gemmaData, function(index, rowData) {
                    const tr = $("<tr>");
                    table.append(tr);

                    $.each(gemmaDataColumn, function(index, columnData) {

                        // if (index == 0) {
                        //     const trData = $("<th scope='row'>"+rowData[columnData.name]+"</th>");
                        //     tr.append(trData);
                        // } else {
                        //     const trData = $("<td>"+rowData[columnData.name]+"</td>");
                        //     tr.append(trData);
                        // }

                        const trData = $("<td>"+rowData[columnData.name]+"</td>");
                        tr.append(trData);

                    })
                    table.append(tr);

                })

                const filterColumn = $('#filterColumn');
                filterColumn.empty();

                $.each(gemmaDataColumn, function(index, item) {
                    const li = "<li class='list-group-item'>";
                    const input = "<input class='form-check-input me-1' type='checkbox' id="+item.name+">";
                    const label = "<label class='form-check-label' for="+item.name+">"+item.name+"</label>"
                    const liEnd = "</li>";
                    filterColumn.append(li + input + label + liEnd);
                })

            })
            .catch(error => {
                console.error(error);
            })
    }
</script>

<script>

    function handleFileSelect(file){
        // Clear the timer
        clearInterval(timerId);

        const formData = new FormData();
        formData.append('gemmadb', file);

        fetch('/copydb', {
            method: 'POST',
            body: formData
        })
            .then(response => {
                if (!response.ok) {
                    throw new Error("Error " + response.status);
                }

                return response.text();
            })
            .then(message => {
                console.log(message);
                window.location.href = '/';
            })
            .catch(error => {
                console.error('Error uploading file:', error);
            });
    }

    let timerId = setInterval(() => {
        const fileInput = document.getElementById('importFile');
        if (fileInput.files.length > 0) {

            const file = fileInput.files[0];

            handleFileSelect(file);
        }
    }, 1000);
</script>

<script>
    function invokeFilePicker() {
        document.getElementById('importFile').click();
    }

</script>

<script>

    const itemsPerPage = 100; // Number of records to display per page
    let currentPage = 1; // Current page number
    let totalRecords = 10;
    let selectedColumns = [];

    function fetchRecords() {

        console.log("Fetching " + selectedColumns);

        if (selectedColumns.length === 0) {
            selectedColumns = "null";
        }

        // const child = tableName.find('.gemma-table').attr('id');
        const child = $('#tableName').text();
        const startIndex = (currentPage - 1) * itemsPerPage;
        const endIndex = startIndex + itemsPerPage;

        fetch('/table/' + child + '/' + startIndex + '/' + endIndex + '/' + selectedColumns,{
            method: 'get',
        }).then(response => response.json())
            .then(message => {

                const gemmaData = message[0];
                const gemmaDataColumn = message[1];

                totalRecords = gemmaData.size;

                const tableColumn = $('#tableColumn');
                tableColumn.empty();

                $.each(gemmaDataColumn, function(index, item) {
                    const th = "<th scope='col'>"+item.name+"</th>";
                    tableColumn.append(th);
                })

                const table = $('#tableData');
                table.empty();

                $.each(gemmaData, function(index, rowData) {
                    const tr = $("<tr>");
                    table.append(tr);

                    $.each(gemmaDataColumn, function(index, columnData) {
                        const trData = $("<td>"+rowData[columnData.name]+"</td>");
                        table.append(trData);
                    })

                })

            })
            .catch(error => {
                console.error(error);
            })
    }

    // Function to display data based on the current page
    function displayData() {
        const startIndex = (currentPage - 1) * itemsPerPage;
        const endIndex = startIndex + itemsPerPage;
        // const currentPageData = malaysianFirstNames.slice(startIndex, endIndex);

        const dataContainer = document.getElementById('dataContainer');
        dataContainer.innerHTML = '';

        // currentPageData.forEach((record) => {
        //     // Create and append HTML elements to display the record data
        //     const recordElement = document.createElement('div');
        //     recordElement.textContent = record;
        //     dataContainer.appendChild(recordElement);
        // });
    }

    // Function to generate pagination links
    function generatePagination(totalPage) {
        const totalPages = Math.ceil(totalPage / itemsPerPage);
        const paginationContainer = document.getElementById('GemmaPaginationContainer');
        paginationContainer.innerHTML = '';

        for (let i = 1; i <= totalPages; i++) {
            const li = document.createElement('li');
            li.classList.add('page-item');
            const link = document.createElement('a');
            link.classList.add('page-link');
            link.href = '#';
            link.textContent = i;
            li.appendChild(link);
            paginationContainer.appendChild(li);
        }

        // Add event listener to pagination links
        paginationContainer.addEventListener('click', (event) => {
            event.preventDefault();
            if (event.target.tagName === 'A') {
                currentPage = parseInt(event.target.textContent);
                fetchRecords();
                // displayData();
            }
        });
    }

    // Initial display
    // displayData();
    // generatePagination(10);


</script>

<script src="bootstrap/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
<script src="js/feather.min.js" integrity="sha384-uO3SXW5IuS1ZpFPKugNNWqTZRRglnUJK6UAZ/gxOX80nxEkN9NcGZTftn6RzhGWE" crossorigin="anonymous"></script>
<!-- <script src="../web/js/chart.umd.min.js" integrity="sha384-gdQErvCNWvHQZj6XZM0dNsAoY4v+j5P1XDpNkcM3HJG1Yx04ecqIHk7+4VBOCHOG" crossorigin="anonymous"></script> -->
<script src="js/dashboard.js"></script>
<script src="jquery/dist/jquery.min.js"></script>
<script>
    // Assuming you have jQuery library included in your HTML

    $(document).ready(function() {
        // When the "Save changes" button is clicked
        $("#btn-column-checker").on("click", function() {
            const uncheckedElements = [];

            // Iterate over each checkbox inside the modal body
            $("#filterColumn input[type='checkbox']").each(function() {
                // Check if the checkbox is unchecked
                if ($(this).prop("checked")) {
                    // Get the ID of the unchecked element
                    const uncheckedId = $(this).attr("id");
                    uncheckedElements.push(uncheckedId);
                }
            });

            selectedColumns = uncheckedElements;
            // Print the unchecked element IDs to the console
            console.log("here babeh");
            console.log(selectedColumns);

            fetchRecords(selectedColumns);
        });
    });

</script>
</body>
</html>
